MAIL_USERNAME=example@flask.com
MAIL_PASSWORD=example
MONGODB_HOST=db
DEV_DATABASE_URL=data-dev
TEST_DATABASE_URL=data-test
DATABASE_URL=data
# development=default, testing or production
FLASK_CONFIG=default
